.eon-Phanerozoic {
    background: #367c39 !important; }
.eon-Proterozoic {
    background: #a0a7b3 !important; }
.eon-Archean {
    background: #4b2b7c!important; }
.eon-Hadean {
    background: #522e11 !important; }
.eon-Proteimeran {
    background: #922121 !important; }
.eon-Theochronic {
    background: #575454 !important; }

body {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#nav-container {
    max-width: 40vw;
}

.list-header {
    color: #fff;
}

.list-group {
    position: relative;
    height: 32vh;
    max-width: 250px;
    overflow: overlay;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    cursor: pointer;
}
.list-group.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #502222;
    background: rgb(220 255 255);
    height: 30px;
    opacity: .7;
}
.entry:hover {
    background-color: #768681;
}
.age-display {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 5px 10px;
    border: 1px solid #999;
}

.ul-bg {
    list-style: none;
}

.scroller-container {
    position: relative;
    overflow: visible; 
    width: 93vw;
    padding: 20px 0 0;
    margin-left: auto;
    margin-right: auto;
}

#scroll-carriage {
    position: absolute;
    height: 100%;
    width: 10px;
    /* background-color: red; */
    cursor: pointer;
    top: 50px;
}

#carriage-img {
    position: absolute;
    width: 40px;
    left: -16px;
    height: 40px;
    top: -38px;
    background-image: url('../icons/slider_carriage.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#info-block {
    position: absolute;
    width: 105px;
    top: -66px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 5px;
    text-align: center;
}

.container-fluid {
    height: 700px;
}

.eon-desc-container {
    background-image: url('../img/illustration-lock.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    min-height: 74%;
}

.eon-desc-container .col {
    padding: 10px;
}

.eon-desc {
    font-size: 22pt;
}

.horizontal-scroll {
    list-style: none;
    display: flex;
    flex-grow: 1;
    height: 24px;
    padding: 0;
    margin: 0;
}

.horizontal-scroll-item {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
}

.image-container {
    background: linear-gradient(to right, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 1) 2%, 
        rgba(0, 0, 0, 1) 100%);
    text-align: center;
    padding: 20px;
    height: 100%;
  }

  .image-container img {
    max-height: 100%;
  }

  .vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .full-height {
    height: 100vh;
  }

#nav-tab {
    position: relative;
    z-index: 1;
}

.nav-link {
    position: relative;
    bottom: -10px;
    margin-bottom: -10px !important;
    padding-bottom: 20px;
    color: #000000 !important;
}

.nav-link.active {
    animation: moveBottom .25s forwards;
    color: #fff !important;
}

.time-labels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; 
}

.tl-start.start {
    padding-right: 10px;
}

.tl-start.end {
    padding-left: 10px;
}

@keyframes moveBottom {
    from { bottom: -15px; }
    to { bottom: 5px; }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease forwards;
}